<div *ngIf="post" class="fb-featured-post">
  <img class="fb-featured-image" [src]="post.image" />
  <div class="fb-featured-content">
    <p class="fb-featured-date">{{date}}</p>
    <h2>{{post.title}}</h2>
    <p class="fb-featured-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id nulla
      condimentum lacus tempor sagittis. Phasellus rhoncus erat lacus, non
      fermentum sapien condimentum ut. Integer elementum elit convallis,
      facilisis mauris sit amet, luctus arcu. Etiam urna nunc, convallis in
      libero ut, ornare iaculis sapien. Nulla rhoncus hendrerit arcu, volutpat
      ultricies eros egestas ac. In felis metus, facilisis semper fringilla
      eget, imperdiet at est. Proin cursus commodo ligula vitae molestie.
      Phasellus accumsan pretium accumsan.
    </p>
  </div>
</div>
